<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>

        <title>{% block title%}Home{% endblock %}</title> 

        <link rel="stylesheet" href="static/styles.css" >

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
        
        

    </head>
    <body>
        <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">
        
              <div class="logo">
                <h1 class="text-light"><a href="/">Learn ASL</span></a></h1>
              </div>
        
              <nav id="navbar" class="navbar">
                <ul>
                    {% if session['logged_in'] %}
                    <a class="nav-item nav-link" id="home" href="/">home</a>
                    <a class="nav-item nav-link" id="logout" href="/logout">logout</a>
                    {% else %}
                    <a class="nav-item nav-link" id="home" href="/">home</a>
                    <a class="nav-item nav-link" id="login" href="/login">login</a>
                    <a class="nav-item nav-link" id="signup" href="/sign_up">signup</a>
                    {% endif %}
                </ul>
              </nav>
        
            </div>
        </header>
        {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category,msg in messages %}
            {% if category=='error' %}
            <div class="alert alert-danger alter-dissmissable fade show" role="alert">
                {{msg}}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dissmissable fade show" role="alert">
                {{msg}}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        <script>
            function validateForm() {
                var a = document.forms["signup"]["name"].value;
                var b = document.forms["signup"]["username"].value;
                var c = document.forms["signup"]["password1"].value;
                var d = document.forms["signup"]["password2"].value;
                if (a == "" || b == "" || c == "" || d == "")  {
                  alert("All details must be filled out");
                  return false;
                }
              }
        </script>

        
    </body>
</html>